@font-face {
    font-family: Roboto;
    font-style: normal;
    src: url('../fonts/Roboto-Regular.ttf');
  }
  body {
    margin: 0px;
    font-family: Roboto;
    background-color: rgba(247, 247, 250, 0.5);
  }